{% load crispy_forms_tags %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ST.Francis Registration Form</title> -->
    <!-- Include Bootstrap CSS -->
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Senior One Student Form</h1>
        <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div> -->
    <!-- Include Bootstrap JS and dependencies -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.amazonaws.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ST.Francis Registration Form</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body style="background-color: aliceblue;">
    <div class="container mt-5">
        <center><div style="display: flex; justify-content: center; align-items: center;">
            <img src="https://stfranciss.netlify.app/th.png" alt="" width="100px" height="100px">
            <div class="txt">
                <h2 style="margin-left: 30px;">ST.Francis Senior Secondary School</h2>
                <p>Students Online Registration For S1 </p>
            </div>
        </div></center>

<br>
        <h5>Online Registration Form S1</h5><br>
        <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
           <h3>Personal Info</h3>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="id_first_name">First Name</label>
                    <!-- {{ form.first_name|as_crispy_field }} -->
                    <input type="text" id="id_first_name" name="first_name" class="form-control" placeholder="John">
                </div>
                <div class="form-group col-md-4">
                    <label for="id_middle_name">Middle Name</label>
                    <!-- {{ form.middle_name|as_crispy_field }} -->
                    <input type="text" id="id_middle_name" name="middle_name" class="form-control" placeholder="Middle Name">
                </div>
                <div class="form-group col-md-4">
                    <label for="id_last_name">Last Name</label>
                    <!-- {{ form.last_name|as_crispy_field }} -->
                    <input type="text" id="id_last_name" name="last_name" class="form-control" placeholder="Last Name">
                </div>
            </div>
            <p style="color: red;">Names should be filled in with the same orders as registered in UNEB</p>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_reg_no"></label>
                    {{ form.reg_no|as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                    <label for="id_emergency_contact"></label>
                    {{ form.emergency_contact|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="id_sex"></label>
                    {{ form.sex|as_crispy_field }}
                </div>
                <div class="form-group col-md-4">
                    <label for="id_status"></label>
                    {{ form.status|as_crispy_field }}
                </div>
                <div class="form-group col-md-4">
                    <label for="id_cls"></label>
                    {{ form.cls|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_elective"></label>
                    {{ form.elective|as_crispy_field }}
                </div>
                <div class="form-group col-md-6"><br>
                    <label for="id_date_of_birth">Date Of Birth</label>
                    <!-- {{ form.date_of_birth|as_crispy_field }} -->
                    <input type="date" id="id_date_of_birth" name="date_of_birth" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_religion"></label>
                    {{ form.religion|as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                    <label for="id_former_school"></label>
                    {{ form.former_school|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_index_no"></label>
                    {{ form.index_no|as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                    <label for="id_hobbies"></label>
                    {{ form.hobbies|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_dream_profession"></label>
                    {{ form.dream_profession|as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                    <label for="id_nationality"></label>
                    {{ form.nationality|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_student_nin"></label>
                    {{ form.student_nin|as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                    <label for="id_student_lin"></label>
                    {{ form.student_lin|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_home_address"></label>
                    {{ form.home_address|as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                    <label for="id_district"></label>
                    {{ form.district|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_city"></label>
                    {{ form.city|as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                    <label for="id_country"></label>
                    {{ form.country|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_special_needs"></label>
                    {{ form.special_needs|as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                    <label for="id_medical_history"></label>
                    {{ form.medical_history|as_crispy_field }}
                </div>
            </div>

            <h3>Academic Results</h3>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="id_english"></label>
                    {{ form.english|as_crispy_field }}
                </div>
                <div class="form-group col-md-3">
                    <label for="id_mathematics"></label>
                    {{ form.mathematics|as_crispy_field }}
                </div>
                <div class="form-group col-md-3">
                    <label for="id_social_studies"></label>
                    {{ form.social_studies|as_crispy_field }}
                </div>
                <div class="form-group col-md-3">
                    <label for="id_science"></label>
                    {{ form.science|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_aggregates"></label>
                    {{ form.aggregates|as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                    <label for="id_division"></label>
                    {{ form.division|as_crispy_field }}
                </div>
            </div>
            <div class="form-group">
                <label for="id_results_photo"></label>
                {{ form.results_photo|as_crispy_field }}
            </div>
            <h6 style="color: red;">NB: Dear Applicant, when reporting to school carry along 2 pairs of decent black trousers(boys) or 2 black decent skirts(girls) and 2 white T- shirts as you wait to receive the school uniform</h6>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br><br><br>
    </div>
    <!-- Include Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.amazonaws.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>